.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: darkgrey;
  }
   
  .main {
    padding-top: 50px;
    overflow: auto;
  }
   
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: darkgrey;
  }